@tailwind utilities;

body, #root {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  /* color: white; */
  background: #d9dce1;
  font-family: 'Poppins';
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

section, header, footer, main {
  width: 100%;
  max-width: 1170px;
}

* {
  outline: none; /* Quitar el borde de enfoque */
  box-shadow: none; /* Quitar la sombra de enfoque (si la tiene) */
}